@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geom);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
/* Scrollbar كامل */
::-webkit-scrollbar {
  width: 4px; /* سمك الشريط العمودي */
  height: 4px; /* سمك الشريط الأفقي */
}

/* خلفية الشريط */
::-webkit-scrollbar-track {
  background: #000000; /* لون الخلفية */
  border-radius: 4px;
}

/* جزء التمرير */
::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* لون المقبض */
  border-radius: 4px;
  /* border: 2px solid #ffffff00; يعطي مسافة بين المقبض والحافة */
}

/* عند المرور بالماوس على المقبض */
::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

.gradient-border {
  border: 1px solid transparent;
  background:
    linear-gradient(#0a0a0a, #0a0a0a) padding-box,
    linear-gradient(90deg, #ff00cc, #3333ff) border-box;
}
